.back{
-fx-background-image:url('../image/library.jpg');
-fx-background-size:cover;

}

.text-field {
    -fx-background-color: transparent ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
    -fx-border-color: white;
    -fx-border-width: 1;
    -fx-border-radius: 1;
    -fx-text-fill: white;
}
.text-field:focused {
     -fx-background-color: transparent ;
     -fx-background-insets: 0, 0 0 1 0 ;
     -fx-background-radius: 0 ;
     -fx-border-color: white;
     -fx-border-width: 1;
     -fx-border-radius: 1;
     -fx-text-fill: white;
}